<div id="<%= dom_id disciplina %>">
  <div>
    <strong>Nome:</strong>
    <%= disciplina.nome %>
  </div>

  <div>
    <strong>Carga horaria:</strong>
    <%= disciplina.carga_horaria %>
  </div>

</div>
