<div id="<%= dom_id aluno %>">
  <div>
    <strong>Nome:</strong>
    <%= aluno.nome %>
  </div>

  <div>
    <strong>Cpf:</strong>
    <%= aluno.cpf %>
  </div>

  <div>
    <strong>Data nascimento:</strong>
    <%= aluno.data_nascimento %>
  </div>

</div>
