<div id="<%= dom_id matricula %>">
  <div>
    <strong>Aluno:</strong>
    <%= matricula.aluno_id %>
  </div>

  <div>
    <strong>Disciplina:</strong>
    <%= matricula.disciplina_id %>
  </div>

</div>
